{% extends 'usermaster.html' %}
{% load static %}
{% block content %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</head>
<body> -->
<!-- <img src="{% static 'images/badminton.jpg' %}" alt=""> -->
<div class="jumbotron jumbotron-fluid"
  style="height: 350px;background-image: url('/static/images/badminton.jpg');">
  <div class="container text-center">
    <h1 class="" style="color: white;font-size: 60px;">PARTNER WITH US</h1>
    <a class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Register</a>
  </div>
</div>


<div class="container p-5" style="background-color: rgb(167, 171, 182); border-radius: 30px;">

  <h2 class="pb-3 text-center">COLLABORATE WITH US</h2>
  <p>PlaySpots is the online portal and mobile app for sports enthusiasts in Kerala, we integrate sports with technology
    to deliver a comprehensive sporting experience using location intelligence

    We are helping facility owners and turf managers ditch their paper diaries and spreadsheets.
    With our user-friendly booking manager, spend less time on the phone taking inquiries and watch bookings roll in.
    Whatever your size of operation, from one pitch to hundreds we can facilitate your needs.

    We empower businesses targeting turf owners in India especially the southern side of India to gain clients through
    our turfs reservation service and collaborate with our community to increase outreach.

    PlaySpots offers various packages for sports venues to help increase their marketing exposure, manage bookings and
    streamline operations. Secure sports booking software is also available
  </p>
</div>

</div>
</div>





<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <h5 class="modal-title" id="exampleModalLabel" align="center">PARTNERSHIP FORM</h5>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Court Name">
          </div>
          <div class="form-group">
            <select class="form-control" name="" id="">
              <option value="" disabled selected>Sport Type</option>
              <option value="">football</option>
              <option value="">Cricket</option>
              <option value="">Badminton</option>
            </select>
          </div>
          <div class="form-group">
            <input type="number" class="form-control" placeholder="Contact Number">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="location">
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>

    </div>
  </div>
</div>
{% endblock %}